imgs_projs/
.texpadtmp
main.pdf
*.code-workspace
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.gnuplot
*.idx
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.thm
*.toc

*.run.xml
*.synctex.gz
